# Python
__pycache__/
*.pyc

# Virtual env
.venv/
venv/
aiservices/venv/
# Environment variables
.env

# Databases
*.db
*.sqlite

testingaja/
# Node modules (frontend)
node_modules/

# Other
.DS_Store
QDRANT_SETUP.md
